{% extends 'base.html' %}


{% block content %}
    <div class="container text-center" >
    <div class="jumbotron" style="height: 89vh;">
        <p>
            <div class="container" style="padding:18%;">
                HI, {{user}}! You are seeing this page because you haven't been assigned to a team yet!
            You will be redirected to your dashboard as soon as you have been assigned to a team by the admin.
            </div>
            
        </p> 
                
    </div>
</div>
{% endblock content %}
