{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href=" {% static "css/login.css" %} ">
  <link rel="stylesheet" href=" {% static "css/bootstrap/css/bootstrap.css" %} ">
  <link rel="stylesheet" href=" {% static "css/font-awesome/css/font-awesome.css" %} ">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

  <title>Reset Password</title>
</head>
<body>

  <div class="container">
    <section class="content">
      <div class="col-md-12">
      <div class="row">
        

           <form action="#" method="POST" class="p-5 bg-light" style="width:100%;">
            <h3> Reset Password </h3>
                                 {% csrf_token %}
                                 {{ form|crispy }}

                  <div class="form-group">
                    <input type="submit" value="Request Password Reset" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
        </div>
      </div>
    </section>
  </div>
  <script src=" {% static "css/bootstrap/js/bootstrap.js" %} "></script>
  <script src=" {% static "css/jquery/jquery.min.js" %} "></script>
  <script>
  // document.querySelector(".login-btn").addEventListener("click", function(){
  //   this.classList.add("focus-btn");
  //   document.querySelector(".sign-btn").classList.remove("focus-btn")
  //   $(".register-form").fadeOut(300);
  //   $(".login-form").fadeIn(300);

  // })

  // document.querySelector(".sign-btn").addEventListener("click", function(){
  //   this.classList.add("focus-btn");
  //   document.querySelector(".login-btn").classList.remove("focus-btn")
  //   $(".login-form").fadeOut(300);
  //   $(".register-form").fadeIn(300);

  // })


  
  </script>
</body>
</html>